* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    width: 100%;
    max-width: 435px;
    height: 860px;
}
header {
    width: 100%;
    max-width: 440px;
    height: 239px;
    display: flex;
    flex-direction: column;
}
.topo {
    background: #425c2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 69px;
}
.button-topo button {
    width: 120px;
    height: 20px;
    font-size: 8px;
    border-radius: 20px;
    background: rgb(132, 145, 66);
    color: white;
    border: none;
}
.banner {
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}
.banner button {
    width: 150px;
    height: 32px;
    margin: auto;
    border-radius: 20px;
    background: rgb(108, 131, 66);
    border: none;
    color: white;
    font-size: 12px;
}
.categorias {
    background: rgb(248, 247, 240);
    width: 100%;
    max-width: 440px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}
.categorias h2 {
    margin-bottom: 10px;
}
.cards {
    display: flex;
    gap: 5px;
    text-align: center;
}
.cards p {
    color: #425c2f;
    font-size: 11px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 164px;
    border: 1px solid #d6e0cf;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.card button {
    background: rgb(108, 131, 66);
    width: 80px;
    height: 22px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 11px;
}
.como-funciona {
    height: 149px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards2 {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.sub-cards {
    width: 130px;
    height: 63px;
    border: 1px solid #d6e0cf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #425c2f;
    font-size: 12px;
    gap: 5px;
}
.sub-cards img {
    margin-left: 5px;
}
.descricao {
    background: rgb(218, 227, 187);
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #425c2f;
}
h1 {
    font-size: 22px;
    font-family: 'poppins';
    color: #2e4b2e;
}
h2 {
    font-family: 'poppins';
    font-size: 20px;
    color: #2e4b2e;
}
h3 {
    font-size: 14px;
    font-family: 'poppins';
    color: #2e4b2e;
    font-weight: 300;
}
p, button {
    font-family: 'Open Sans', sans-serif;
}
footer {
    text-align: center;
    color: #223018;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
}