* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 0 auto;
    padding: 0px 10px;
    /* gap: 40px; */
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topo {
    background: #425c2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.button-topo {
    display: flex;
    gap: 5px;
}

.button-topo button {
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 20px;
    background: rgb(132, 145, 66);
    color: white;
    border: none;
    /* cursor: pointer; */
}

/* .button-topo button:hover,
.banner button:hover,
.card button:hover {
    box-shadow: 0 0 6px 5px rgb(165, 182, 82);
}

.banner button {
    transition: transform 0.2s ease; animação suave
}

.banner button:hover {
    transform: translateY(-5px); sobe 5px
} */

.banner {
    max-width: 310px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px 0px;
}

.banner h1 {
    font-size: 1.3rem;
    color: #2e4b2e;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 1.2rem;
    color: #2e4b2e;
    padding: 10px 0px;
}

h4 {
    color: #2e4b2e;
}

.banner h3, li {
    font-size: 1rem;
    font-weight: 400;
    color: #2e4b2e;
}

.banner button {
    width: 180px;
    margin: auto;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(108, 131, 66);
    border: none;
    color: white;
    font-size: 14px;
    /* cursor: pointer; */
}

.beneficios {
    margin-top: 20px;
}

.beneficios p {
    color: #1b2e1b;
    font-style: italic;
    font-size: 12px;
}

ul {
    padding-left: 20px;
}

li {
    padding: 2px;
    font-size: .9rem;
    margin: 2px;
}
.lista {
    margin: auto;
}
.card {
    margin-top: 20px;
    background: #e1f8e1;
    border: 1px solid #4d5f4d;
    border-radius: 9px;
}

.card ul {
    padding-left: 40px;
}

.card img {
    width: 100%;
}
.botao {
    display: flex;
    justify-content: space-around;
}

.card button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background: rgb(108, 131, 66);
    color: white;
    border: none;
    border-radius: 20px;
}
footer {
    text-align: center;
    color: #223018;
    padding: 50px 0px;
    font-size: 13px;
    font-weight: 500;
}
/* Custom Scroll */

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(151, 180, 98);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 146, 72);
  }