* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 900px;   /* largura máxima em desktops */
    margin: 0 auto;
    padding: 0px 10px;
    gap: 40px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topo {
    background: #425c2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.button-topo button {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 20px;
    background: rgb(132, 145, 66);
    color: white;
    border: none;
    cursor: pointer;
}

.banner {
    max-width: 880px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px 0px;
}

.banner h1 {
    font-size: 1rem;
    color: #2e4b2e;
}
h2 {
    font-size: 1.2rem;
    color: #2e4b2e;
    padding: 10px 0px;
}
.banner h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #2e4b2e;
}

.banner button {
    width: 180px;
    margin: auto;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(108, 131, 66);
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

/* --- Seção Categorias --- */
.categorias {
    /* background: rgb(248, 247, 240); */
    padding: 0px 10px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.card {
    flex: 1 1 calc(50% - 20px); /* 2 por linha em telas pequenas */
    min-width: 150px;
    max-width: 200px;
    border: 1px solid #d6e0cf;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.card button {
    padding: 5px 10px;
    font-size: 12px;
    background: rgb(108, 131, 66);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.card p, .cards2 p, .descricao p {
    font-size: 0.9rem;
    color: #425c2f;
    font-weight: 500;
}
/* --- Seção Como Funciona --- */
.como-funciona {
    padding: 20px 10px;
    text-align: center;
}
.cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 10px 0px;
}
.sub-cards {
    flex: 1 1 120px;
    max-width: 180px;
    border: 1px solid #d6e0cf;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    color: #425c2f;
}

/* --- Seção Descrição --- */
.descricao {
    display: flex;
    flex-direction: column;
    gap: 13px;
    background: rgb(218, 227, 187);
    padding: 20px 10px;
    text-align: center;
    color: #425c2f;
}

/* --- Footer --- */
footer {
    text-align: center;
    color: #223018;
    padding: 50px 0px;
    font-size: 13px;
    font-weight: 500;
}

/* --- Media Queries --- */
@media (min-width: 768px) {
    .card {
        flex: 1 1 calc(33.333% - 20px); /* 3 por linha */
    }
    .card img {
        width: 45px;
        height: 45px;
    }
    .sub-cards {
        flex: 1 1 calc(33.333% - 20px); /* 3 por linha certinho */
    }
    .sub-cards img {
        width: 30px;
        height: 30px;
    }
    .button-topo button {
        padding: 6px 12px;
        font-size: 16px;
    }
    .logo img {
        width: 180px;
        height: 80px;
    }
    .banner h1 {
        font-size: 2rem;
    }
    .banner h3 {
        font-size: 1.2rem;
    }
    .banner button {
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }
    h2 {
        font-size: 1.6rem
    }
    .card p, .cards2 p, footer p {
        font-size: 1.1rem;
    }
    .descricao p {
        font-size: 1.2rem;
    }
    .card button {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .card {
        flex: 1 1 calc(25% - 20px); /* 4 por linha */
    }

    main {
        gap: 80px;
    }
}
